<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dbName</key>
	<string>local.db</string>
	<key>dbVersion</key>
	<integer>6</integer>
	<key>dbTables</key>
	<array>
		<dict>
			<key>contactsTable</key>
			<array>
				<dict>
					<key>carCode</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>name</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>tel</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>carType</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>owner</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>idFromNode</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>inserttime</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>isbindweixin</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>weixinopenid</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>vin</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>carregistertime</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>headurl</key>
					<string>TEXT</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
